Nosso querido Edmilson infelizmente contraiu o virus Covid-19. Atualmente, seu estado, alem de grave, piora a cada dia. Atualmente, ja esta na UTI ha mais de 30 dias e infelizmente nao possuimos o dinheiro necessario para contiuarmos pagando as contas do Hospital. Sendo assim, chegamos a um determinado ponto onde estamos realmente precisando de ajuda. Esta pagina nada mais e' que um pedido de socorro; um pedido de ajuda. Ajuda para que possamos continuar a pagar as contas do hospital e para que; de alguma maneira, tanto Deus quanto todos aqueles que estejam dispostos e em posicao e ajudar nos escutem! Porfavor, Qualquer contribuicao e' mais que bem vinda e seremos eternamente Gratos! 

Para aqueles puderem, divulgaremos aqui nosso PIX: 330-059-638/61 (Rodrigo Ferreira da Silva). Ou tambem temos uma campanha aberta no vakinha.com.br (clicando no botao de doacao abaixo).

Volto a dizer, qualquer ajuda, qualquer valor, reza, prece ou minuto de sua atencao para ajudarem com nosso sofrimento estara para sempre em nossa gratidao. E com extreme urgencia que peco-lhes que divulguem esta mensagem e ajudem nos.

Muito Obrigado,
Que Deus esteja tanto conosco quanto com voces.
Um grande beijo!

